.discover-search {
    .discover-header {
        form {
            margin: 0 8rem;
            position: relative;
        }

        .search-button {
            left: 1rem;
            right: auto;
        }
        .searchbox {
            input {
                padding-left: 3.5rem;
                padding-right: 23rem;
            }
        }
    }
    .searchbox-filters {
        position: absolute;
        right: 1rem;
        top: .7rem;
        width: auto;
        input {
            display: none;
        }
        label {
            border-radius: 4px;
            color: $gray-light;
            cursor: pointer;
            display: inline-block;
            padding: .4rem .75rem;
            transition: all .2s;
            transition-delay: .2s;
            &:hover,
            &.active {
                background: $primary-light;
                color: $white;
            }
            &:hover {
                background: rgba($primary-light, .8);
            }
        }
    }
}

.discover-results {
    @include centered;
}

.discover-results-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    svg {
        @include svg-size(1.1rem);
        fill: $gray-light;
    }
    .title {
        @extend %bold;
        @extend %larger;
        text-transform: uppercase;
    }
    h2 {
        display: inline-block;
    }
}
