div
    div(ng-if="vm.loading")
        p loading...

    div(tg-repeat="project in vm.highlighted track by project.get('id')")
        h2 {{::project.get('name')}}
        p {{::project.get('description')}}

    a(href="#") View more
