.private {
    display: inline-block;
    margin-left: .5rem;
    width: .5rem;
    svg {
        fill: $gray-light;
        height: .5rem;
        transition: fill .3s linear;
        width: .5rem;
    }
}
