.most-active
    .header
        .title-wrapper
            include ../../../../svg/activity.svg
            h1.title {{ 'DISCOVER.MOST_ACTIVE' | translate }}
        tg-discover-home-order-by(on-change="vm.orderBy(orderBy)", order-by="vm.currentOrderBy")
    tg-highlighted(
        loading="vm.loading",
        highlighted="vm.highlighted"
    )