doctype html

section.discover
    header
        tg-discover-search-bar
    
    section.higlighted
        .most-liked
            h1 {{ DISCOVER.MOST_LIKED | translate }}
            tg-most-liked
        .most-active
            h1 {{ DISCOVER.MOST_ACTIVE | translate }}
            tg-most-active
    
    section.featured-projects
        tg-featured-projects
