@import '../dependencies/mixins/profile-form';

.project-details {
    @include profile-form;
    .looking-for-people {
        @extend %light;
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        padding: 1rem 0;
    }
    .looking-for-people-selector {
        align-items: center;
        display: flex;
        svg {
            @include svg-size();
            fill: $gray-light;
            margin-left: .5rem;
        }
        .check {
            margin-left: auto;
        }
    }
    .looking-for-people-reason {
        animation: formSlide .3s reverse;
        display: none;
        margin-top: 1rem;
        &.active {
            animation: formSlide .3s;
        }
    }

    .delete-project {
        @extend %xsmall;
        display: block;
        margin-top: 1rem;
        text-align: right;
        &:hover {
            color: $red;
        }
    }

    // .privacy-settings {
    //     display: flex;
    //     > div {
    //         flex-basis: 0;
    //         flex-grow: 1;
    //         overflow: hidden;
    //         position: relative;
    //         &:first-child {
    //             margin-right: .5rem;
    //         }
    //     }
    //     label {
    //         @extend %title;
    //         border: 1px solid $gray-light;
    //         cursor: not-allowed;
    //         display: block;
    //         text-align: center;
    //         transition: all .2s linear;
    //         span {
    //             color: $gray-light;
    //         }
    //     }
    // }
    // .privacy-project {
    //     cursor: pointer;
    //     height: 50px;
    //     left: -10px;
    //     opacity: 0;
    //     position: absolute;
    //     top: -10px;
    //     width: 500px;
    //     z-index: 999;
    // }
    // .privacy-project:checked {
    //     + label {
    //         background: $primary-light;
    //         border: 1px solid $primary-light;
    //         span {
    //             color: $white;
    //         }
    //     }
    // }
    // .button-green {
    //     color: $white;
    //     display: block;
    //     text-align: center;
    // }
    // .delete-project {
    //     @extend %small;
    //     display: block;
    //     margin-top: 1rem;
    // }
}

.project-privacy-settings {
    display: flex;
    margin-bottom: 2rem;
    .privacy-option {
        flex: 1;
        transition: .2 linear;
        &:first-child {
            margin-right: .5rem;
        }
    }
    input[type="radio"] {
        display: none;
    }
    input[type="text"] {
        display: none;
    }
    label {
        background: $whitish;
        color: $grayer;
        text-align: center;
        transition: all .2s linear;
        &:hover {
            background: rgba($primary-light, .8);
            svg {
                fill: $white;
            }
        }
        svg {
            @include svg-size(1.1rem);
            fill: $grayer;
            margin-left: .5rem;
        }
    }
    .privacy-project:checked {
        + label {
            background: $primary-light;
            color: $white;
            svg {
                @include svg-size(1.1rem);
                fill: $white;
            }
        }
        ~input[type="text"] {
            display: block;
        }
    }
}
